Repository alfnori/dragon-maker-contact-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

feat: added authentication pages
  .env.example
  .gitignore
  index.html
  package-lock.json
  package.json
  public/dragon-maker.png
  public/vite.svg
  src/App.css
  src/App.tsx
  src/app/App.css
  src/app/App.tsx
  src/app/theme.tsx
  src/components/Auth/Login.tsx
  src/components/Auth/Register.tsx
  src/components/Common/Logo.tsx
  src/components/Common/PrivateRoute.tsx
  src/contexts/AuthContext.tsx
  src/contexts/useAuth.tsx
  src/index.css
  src/layouts/AuthenticateLayout.tsx
  src/main.tsx
  src/types/Contact.ts
  src/types/User.ts
  src/utils/localStorage.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

fix: build pipeline
  src/utils/validation.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

feat: improved ui and routing
  package-lock.json
  package.json
  src/app/App.css
  src/app/App.tsx
  src/app/theme.tsx
  src/components/Auth/Login.tsx
  src/components/Auth/Register.tsx
  src/components/Common/AddressLookup.tsx
  src/components/Common/Logo.tsx
  src/components/Common/PrivateRoute.tsx
  src/components/Error/Error.tsx
  src/components/Home/Home.tsx
  src/layouts/AuthenticateLayout.tsx
  src/main.tsx
  src/router/PrivateRoute.tsx
Due: prettier --write

fix: build error
  src/components/Common/AddressLookup.tsx
Due: none

chore: fix home layout
  src/components/Home/Home.tsx
Due: none

chore: add link to logo
  src/components/Common/Logo.tsx
Due: none

chore: fix vercel route
  vercel.json
  vite.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

feat: improved error page and authenticated navigation
  src/app/App.tsx
  src/app/theme.tsx
  src/components/Common/Logo.tsx
  src/components/Error/Error.tsx
  src/components/Home/Home.tsx
  src/router/PrivateRoute.tsx
Due: none

feat: added form validation and error handler
  src/app/theme.tsx
  src/components/Auth/Register.tsx
  src/contexts/AuthContext.tsx
  src/hooks/useForm.tsx
  src/layouts/AuthenticateLayout.tsx
  src/types/User.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: added validation to login form
  src/components/Auth/Login.tsx
  src/components/Auth/Register.tsx
  src/layouts/AuthenticateLayout.tsx
Due: none

feat: added user actions and proto contact
  package-lock.json
  package.json
  src/app/App.tsx
  src/components/Contacts/ContactForm.tsx
  src/components/Contacts/ContactList.tsx
  src/components/Maps/ContactMap.tsx
  src/layouts/AuthenticateLayout.tsx
  src/layouts/ContactsLayout.tsx
  src/layouts/components/DeleteMenuItem.tsx
  src/layouts/components/ListMenuItem.tsx
  src/layouts/components/LogoutMenuItem.tsx
  src/services/apiService.ts
  src/services/authService.ts
  src/services/contactService.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

docs: added vercel deployment to readme
  README.md
Due: none

feat: added search to app bar
  package.json
  src/app/theme.tsx
  src/components/Contacts/ContactList.tsx
  src/components/Maps/ContactMap.tsx
  src/layouts/ContactsLayout.tsx
  src/layouts/components/DrawerAppBar.tsx
  src/layouts/components/SearchBar.tsx
Due: none

chore: adjust contact layout
  src/app/App.tsx
  src/components/Contacts/ContactList.tsx
  src/layouts/ContactsLayout.tsx
Due: none

chore: fix responsive layout for auth pages
  src/components/Auth/Login.tsx
  src/components/Error/Error.tsx
  src/components/Home/Home.tsx
  src/layouts/AuthenticateLayout.tsx
Due: none

feat: added repository and storage for contact and user entities
  src/utils/localStorage.ts
  src/utils/repository.ts
  src/utils/repository/ContactRepository.ts
  src/utils/repository/UserRepository.ts
  src/utils/storage.ts
  src/utils/storages/localStorage.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

feat: improve providers with injection
  src/contexts/AuthContext.tsx
  src/contexts/auth/AuthContext.tsx
  src/contexts/auth/useAuth.tsx
  src/contexts/contact/ContactsContext.tsx
  src/contexts/contact/useContacts.tsx
  src/contexts/injection/InjectionContext.tsx
  src/contexts/injection/useInjection.tsx
Due: none

feat: added ssr configuration to app
  package-lock.json
  package.json
  server.js
  src/app/App.tsx
  src/main.tsx
  src/server.tsx
  tsconfig.app.json
  tsconfig.app.tsbuildinfo
  tsconfig.node.json
  vite.config.d.ts
  vite.config.d.ts.map
  vite.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: fixing imports from context
  .lintstagedrc.json
  src/components/Auth/Login.tsx
  src/components/Auth/Register.tsx
  src/components/Contacts/ContactForm.tsx
  src/components/Contacts/ContactList.tsx
  src/components/Error/Error.tsx
  src/components/Home/Home.tsx
  src/layouts/AuthenticateLayout.tsx
  src/layouts/ContactsLayout.tsx
  src/layouts/components/DeleteMenuItem.tsx
  src/layouts/components/ListMenuItem.tsx
  src/layouts/components/LogoutMenuItem.tsx
  src/layouts/components/SearchBar.tsx
  src/router/PrivateRoute.tsx
  src/services/contactService.ts
  src/types/Contact.ts
  vite.config.d.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: fix vercel build
  src/layouts/components/SearchBar.tsx
Due: none

chore: rollback vercel to client render
  vite.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: added default storage to local
  src/utils/storage.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: fix connect to storage on userRepository
  src/utils/repository/UserRepository.ts
  src/utils/storages/localStorage.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: fix SSR implementation
  index.html
  package-lock.json
  package.json
  server.js
  server.ts
  src/app/App.tsx
  src/components/Home/Home.tsx
  src/components/Maps/ContactMap.tsx
  src/entry-client.tsx
  src/entry-server.tsx
  src/router/PrivateRoute.tsx
  tsconfig.app.json
  tsconfig.app.tsbuildinfo
  vite.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: added form utils
  src/components/Auth/Login.tsx
  src/components/Auth/Register.tsx
  src/utils/forms.tsx
Due: none

chore: fixed localStorage init
  src/app/App.tsx
  src/entry-client.tsx
  src/entry-server.tsx
  src/utils/repository/UserRepository.ts
  src/utils/storage.ts
  src/utils/storages/localStorage.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: fix current user session
  src/contexts/auth/AuthContext.tsx
  src/utils/storages/localStorage.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: added new menu entries
  src/components/Contacts/ContactAdd.tsx
  src/layouts/ContactsLayout.tsx
  src/layouts/components/DeleteMenuItem.tsx
  src/layouts/components/DrawerAppBar.tsx
  src/layouts/components/ListMenuItem.tsx
  src/layouts/components/LogoutMenuItem.tsx
  src/layouts/components/SearchBar.tsx
Due: none

chore: fix drawer resizing
  src/layouts/ContactsLayout.tsx
  src/layouts/components/DrawerAppBar.tsx
Due: none

chore: add contact page
  src/app/theme.tsx
  src/components/Auth/Login.tsx
  src/components/Contacts/ContactAdd.tsx
  src/hooks/useForm.tsx
  src/layouts/ContactsLayout.tsx
  src/services/apiService.ts
  src/types/Contact.ts
  src/types/User.ts
  src/utils/forms.tsx
  vite.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

feat: added contact page
  src/components/Contacts/ContactAdd.tsx
  src/components/Contacts/ContactForm.tsx
  src/contexts/contact/ContactsContext.tsx
  src/services/contactService.ts
  src/types/Contact.ts
  src/utils/repository/ContactRepository.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

feat: added list and delete contacts
  src/components/Contacts/ContactForm.tsx
  src/components/Contacts/ContactList.tsx
  src/services/contactService.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

feat: added confirm to delete
  src/components/Contacts/ContactList.tsx
  src/components/Contacts/components/deleteConfirm.tsx
Due: none

chore: fix auth forms
  index.html
  src/components/Auth/Login.tsx
  src/components/Auth/Register.tsx
  src/hooks/useForm.tsx
  tsconfig.app.tsbuildinfo
  vite.config.d.ts.map
  vite.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

chore: fix build errors
  package-lock.json
  package.json
  src/components/Contacts/ContactAdd.tsx
  src/hooks/useForm.tsx
  src/utils/forms.tsx
Due: none

chore: build ts
  tsconfig.app.tsbuildinfo
Due: none

fix: build vercel
  vite.config.ts
Due: prettier --write, eslint --ignore-path .gitignore --fix, vitest related --run --environment=jsdom

Path conditions:
  prettier --write: (any of: *.css) or (any of: *.{js,ts})
  eslint --ignore-path .gitignore --fix: any of: *.{js,ts}
  vitest related --run --environment=jsdom: any of: *.{js,ts}
